.mb10 {
  margin-bottom: 10px;
}

@keyframes smooth-opacity-keyframes {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayed-opacity-keyframes {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
