@import url('normalize.css');
@import url('common.css');

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-color-main: #37474f;
  --font-color-error: #f00;
  --smooth-opacity: smooth-opacity-keyframes 0.1s;
  --delayed-opacity: delayed-opacity-keyframes 2s;
}

html,
body {
  color: var(--font-color-main);
  font-family: var(--font-roboto);
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

[disabled] {
  cursor: initial;
}

[hidden] {
  display: none !important;
}
